<div class="navbar inner_navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="index.html" class="back link">
                {{back_botton}}
            </a>
        </div>
        <div class="center sliding page_heading">
            Profile
        </div>
        <div class="right">
            {{top_right_icon}}
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="profile" class="page inner_page no-toolbar trip_detail_page">
        <div class="page-content">

            <div class="content-block">
                <div class="user_picture"><img src="img/default-user.png"></div>
                <div class="list-block">
                    <form id="contactus_form" class="form_wrapper">
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">Name</div>
                                        <div class="item-input">
                                            <input type="text" name="full_name" id="full_name" class="readonly" value="" readonly>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">Mobile</div>
                                        <div class="item-input">
                                            <input type="text" name="mobile" id="mobile" class="readonly" value="" readonly>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">Your Email</div>
                                        <div class="item-input">
                                            <input type="email" name="email" id="email" class="readonly" value="" readonly>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">Restaurant Name</div>
                                        <div class="item-input">
                                            <input type="text" name="restaurant_name" id="restaurant_name" class="readonly" value="" readonly>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title label">Restaurant Address</div>
                                        <div class="item-input">
                                            <input type="text" name="restaurant_address" id="restaurant_address" class="readonly" value="" readonly>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            
                            
                        </ul>
                        <div class="returant_map">
                            <div id="returant_mapcanvas"></div>
                        </div>
                        <input type="hidden" class="profile_picture_change" id="profile_picture_change" value="no">
                        <input type="hidden" class="profile_picture" id="profile_picture" value="">
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>
