.invalid-field {
    border-color: #e3342f !important;
}
.invalid-response {
    /* display: none; */
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #e3342f !important;
}
.profile-logo {
    width:200px;
    height:200px;
}
.mtr-10 {
    margin-top: 10%;
    margin-right: 10%;
}
.mtr-15 {
    margin-top: 15%;
    margin-right: 7%;
}
@media (min-width:769px)
{
    .mt-minus-60 {
        margin-top: -60px;
    }
}
.margin-zero{
    margin: 0px !important;
}

.loading,.bk_loading{
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 9999;
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: fa-spin 2s linear infinite;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;   
}


.map-box{
    margin:0px;
    padding: 3px;
}
.map-box ul{
    list-style: none;
    margin: 0px;
    padding: 1px;
}
.map-box li{
    padding: 5px;
    border-bottom: 1px solid;
    font-size: 15px;
}
.map-box li:hover{
    background: gray;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 500;
    font-family: sans-serif;
    margin-top: 1%;
    color: blue;
    background-color: #E0E0E0;
    display: inline-block;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #D8D8D8;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

/* ================ LG Custom Modal ================ */
.bk-modal-lg {
    padding: 0 !important;
}
.bk-modal-lg .modal-dialog {
    min-width: 100%;
    margin: 0;
    height: 100%;
}
.bk-modal-lg .modal-dialog .modal-content {
    border-radius: 0;
    min-height: 100%;
}
body.bk-modal-open{overflow: hidden !important;padding: 0 !important;}
.bk-modal-lg .kt-form__actions{
    margin-top: 15px;
}
span.show_waiting_comer{
    cursor: pointer;
    padding: 0px 5px;
    font-size: 20px;
}
span.show_waiting_comer:hover{
    background: #f5efef;
}
table.new_commer_approval_table tr td {
    padding: 12px;
}
ul.list-group.list-group-horizontal li {
    cursor: pointer;
}
input[type="radio"] {
    cursor: pointer;
}
input[type="radio"] h6{
    cursor: pointer;
}

.split__object-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.route_data{display: grid;}

td.details-control {
    background: url('../../../../details_open.png') no-repeat center center !important; 
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../../../../details_close.png') no-repeat center center !important;
}
.tr-remove:hover {
    color: #fd1361;
}
.tr-remove {
    color: #bd0744;
    cursor: pointer;
}
.tr-edit {
    color: #3758ff;
    cursor: pointer;
    padding-right: 4px;
}
.tr-edit:hover {
    color: #1e3296;
}
/* Auto generated custom width 1%-100% */
.table__cell--bk_width-1{width:1%}.table__cell--bk_width-2{width:2%}.table__cell--bk_width-3{width:3%}.table__cell--bk_width-4{width:4%}.table__cell--bk_width-5{width:5%}.table__cell--bk_width-6{width:6%}.table__cell--bk_width-7{width:7%}.table__cell--bk_width-8{width:8%}.table__cell--bk_width-9{width:9%}.table__cell--bk_width-10{width:10%}.table__cell--bk_width-11{width:11%}.table__cell--bk_width-12{width:12%}.table__cell--bk_width-13{width:13%}.table__cell--bk_width-14{width:14%}.table__cell--bk_width-15{width:15%}.table__cell--bk_width-16{width:16%}.table__cell--bk_width-17{width:17%}.table__cell--bk_width-18{width:18%}.table__cell--bk_width-19{width:19%}.table__cell--bk_width-20{width:20%}.table__cell--bk_width-21{width:21%}.table__cell--bk_width-22{width:22%}.table__cell--bk_width-23{width:23%}.table__cell--bk_width-24{width:24%}.table__cell--bk_width-25{width:25%}.table__cell--bk_width-26{width:26%}.table__cell--bk_width-27{width:27%}.table__cell--bk_width-28{width:28%}.table__cell--bk_width-29{width:29%}.table__cell--bk_width-30{width:30%}.table__cell--bk_width-31{width:31%}.table__cell--bk_width-32{width:32%}.table__cell--bk_width-33{width:33%}.table__cell--bk_width-34{width:34%}.table__cell--bk_width-35{width:35%}.table__cell--bk_width-36{width:36%}.table__cell--bk_width-37{width:37%}.table__cell--bk_width-38{width:38%}.table__cell--bk_width-39{width:39%}.table__cell--bk_width-40{width:40%}.table__cell--bk_width-41{width:41%}.table__cell--bk_width-42{width:42%}.table__cell--bk_width-43{width:43%}.table__cell--bk_width-44{width:44%}.table__cell--bk_width-45{width:45%}.table__cell--bk_width-46{width:46%}.table__cell--bk_width-47{width:47%}.table__cell--bk_width-48{width:48%}.table__cell--bk_width-49{width:49%}.table__cell--bk_width-50{width:50%}.table__cell--bk_width-51{width:51%}.table__cell--bk_width-52{width:52%}.table__cell--bk_width-53{width:53%}.table__cell--bk_width-54{width:54%}.table__cell--bk_width-55{width:55%}.table__cell--bk_width-56{width:56%}.table__cell--bk_width-57{width:57%}.table__cell--bk_width-58{width:58%}.table__cell--bk_width-59{width:59%}.table__cell--bk_width-60{width:60%}.table__cell--bk_width-61{width:61%}.table__cell--bk_width-62{width:62%}.table__cell--bk_width-63{width:63%}.table__cell--bk_width-64{width:64%}.table__cell--bk_width-65{width:65%}.table__cell--bk_width-66{width:66%}.table__cell--bk_width-67{width:67%}.table__cell--bk_width-68{width:68%}.table__cell--bk_width-69{width:69%}.table__cell--bk_width-70{width:70%}.table__cell--bk_width-71{width:71%}.table__cell--bk_width-72{width:72%}.table__cell--bk_width-73{width:73%}.table__cell--bk_width-74{width:74%}.table__cell--bk_width-75{width:75%}.table__cell--bk_width-76{width:76%}.table__cell--bk_width-77{width:77%}.table__cell--bk_width-78{width:78%}.table__cell--bk_width-79{width:79%}.table__cell--bk_width-80{width:80%}.table__cell--bk_width-81{width:81%}.table__cell--bk_width-82{width:82%}.table__cell--bk_width-83{width:83%}.table__cell--bk_width-84{width:84%}.table__cell--bk_width-85{width:85%}.table__cell--bk_width-86{width:86%}.table__cell--bk_width-87{width:87%}.table__cell--bk_width-88{width:88%}.table__cell--bk_width-89{width:89%}.table__cell--bk_width-90{width:90%}.table__cell--bk_width-91{width:91%}.table__cell--bk_width-92{width:92%}.table__cell--bk_width-93{width:93%}.table__cell--bk_width-94{width:94%}.table__cell--bk_width-95{width:95%}.table__cell--bk_width-96{width:96%}.table__cell--bk_width-97{width:97%}.table__cell--bk_width-98{width:98%}.table__cell--bk_width-99{width:99%}.table__cell--bk_width-100{width:100%}
.custom_approval_comer_model table tr td {
    border: 1px solid #abaaaa !important;
}
.custom_approval_comer_model table tr th {
    border: 1px solid #abaaaa !important;
}